{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"{{ siteUrl }}","url":"{{ siteUrl }}","name":"{{ siteName }}","inLanguage":"en-US"},{"@type":"WebPage","@id":"{{ siteUrl }}{{ page.url }}","url":"{{ siteUrl }}{{ page.url }}","name":"{{ meta_title }} | {{ siteName }}","dateModified":" {{ page.date.toISOString() }} ","isPartOf":{"@id":"{{ siteUrl }}"},"inLanguage":"en-US"},{"@type":"Article","headline":"{{ meta_title }}","dateModified":"{{ page.date.toISOString() }}","author":{"@type":"Person","name":"{{ author }}"},"publisher":{"@type":"Person","name":"Brandon Gregory"},"description":"{{ meta_description }}","name":"{{ meta_title }} | {{ siteName }}","inLanguage":"en-US","mainEntityOfPage":{"@id":"{{ siteUrl }}{{ page.url }}"}}]}