aside {
    border-top: 1px solid #FFF;
    padding-top: 2rem;
}
.article-list {
    margin-top: 2rem;
    .aside-poster {
        height: auto;
        margin: 0 auto;
        width: 100%;
    }
    .article-list--title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.25rem;
        line-height: 1.25;
        margin: .5rem 0;
        a {
            color: $gold;
            text-decoration: none;
        }
        &::before {
            display: none;
        }
    }
    p {
        margin: .5rem 0 0 0;
    }
    ul {
        display: grid;
        gap: 1rem 1rem;
        margin: 0;
        padding: 0;
        li {
            background: $darkred;
            display: block;
            list-style-type: none;
            padding: 1rem;
        }
        @include tabletDown {
            grid-template-rows: 1fr 1fr 1fr;
        }
        @include desktop {
            align-items: stretch;
            justify-items: stretch;
            grid-template-columns: 1fr 1fr 1fr;
        }
        p.description {
            font-size: .875rem;
            line-height: 1.5;
        }
        p.link {
            font-size: .875rem;
            line-height: 1.5;
            text-align: right;
            a {
                display: block;
                font-family: 'Roboto Condensed', sans-serif;
                padding: .5rem;
            }
        }
    }
}