header {
    background: $darkred;
    color: $white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 10px;
    padding: 8px 15px;

    .logo {
        background-image: url('/images/kobold-logo.png');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        padding-left: 45px;

        a {
            text-decoration: none;
        }
    }

    .tagline {
        font-family: "Roboto Condensed", sans-serif;
        line-height: 30px;
    }

    @include tabletUp {
        display: flex;
        flex-direction: row;
        padding: 20px 30px;
    }
}