img {
    display: block;
    max-width: 100%;
}

main p img {
    display: block;
}

footer p img {
    display: inline-block;
}

img.hero {
    height: 320px;
    margin: 0 auto;
    width: 320px;

    @include desktop {
        height: 768px;
        width: 768px;
    }
}

img.hero-half {
    height: 160px;
    margin: 0 auto;
    width: 320px;

    @include desktop {
        height: 384px;
        width: 768px;
    }
}

img.poster {
    height: 180px;
    margin: 0 auto;
    width: 320px;

    @include desktop {
        height: 432px;
        width: 768px;
    }
}

img.tiny-hero {
    height: 160px;
    margin: 0 auto;
    width: 160px;

    @include desktop {
        height: 384px;
        width: 384px;
    }
}