main {
    a {
        color: $gold;
    }
    h3 {
        &::before {
            border-left: 8px solid $gold;
            border-top: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid transparent;
            content: "";
            display: inline-block;
        }
    }
    iframe {
        display: block;
        margin: 0 auto 30px auto;
    }
}