table {
    border-collapse: collapse;
    width: 100%;
    td, th {
        margin: 0;
        padding: .5rem;
        text-align: left;
    }
    td {
        border-bottom: 1px solid rgba(255,255,255,.25);
    }
    th {
        border-bottom: 1px solid rgba(255,255,255,1);

    }

    &.table--split {
        td {
            width: 50%;
        }
    }
}
