table {
    border-collapse: collapse;
    width: 100%;
    td, th {
        border-bottom: 1px solid rgba(255,255,255,.25);
        margin: 0;
        padding: .25rem;
        text-align: left;
    }
}