---
layout: layout.njk
article: true
---

<main class="container">
    <div role="navigation">
        <ol id="breadcrumbs">
            <li><a href="/">Home</a></li>
            {% if parent %}
            <li><a href="{{parent.url}}">{{ parent.name }}</a></li>
            {% endif %}
            {% if parent2 %}
            <li><a href="{{parent2.url}}">{{ parent2.name }}</a></li>
            {% endif %}
            <li>{{ meta_title }}</li>
        </ol>    
    </div>
    
    <h1>{{ meta_title }}</h1>
    <p class="author">by <a href="/authors/{{ author | slugify }}/">{{ author }}</a></p>

    {%- if posterImage -%}
    <img
        src="/images/{{ posterImage }}.webp"
        srcset="/images/{{ posterImage }}-640.webp 640w,
                /images/{{ posterImage }}.webp 1536w"
        sizes="(min-width: 768px) 768px,360px"
        alt="{{ posterDescription }}"
        class="poster"
        height="384" width="768" />      
    {%- endif -%}
    
    {{ content | safe }}

    <div class="author-box">
        {%- for a in authors -%}
            {%- if a.name == author -%}
                <h2>About the Author</h2>
                <h3>{{ a.name }}</h3>
                <div class="bio-box">
                    <img loading="lazy" src="{{ a.photo }}" class="author-bio" alt="Photo of {{ a.name }}" width="100" height="100">
                    <p>{{ a.bio | safe }}</p>    
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>

</main>

{% set siblings = collections[section_name] | randomSiblings(page.fileSlug) %}
<aside class="article-list container">
    <h2>Related posts</h2>
    <ul>
        {%- for post in siblings -%}
        <li>
            {%- if post.data.posterImage -%}
            <a href="{{ post.url }}"><img
                src="/images/{{ post.data.posterImage }}-426.webp"
                alt="{{ post.data.posterDescription }}"
                class="aside-poster"
                height="120" width="213"
                loading="lazy" /></a>
            {%- endif -%}
            <p class="article-list--title"><a href="{{ post.url }}">{{ post.data.meta_title }}</a></h3>
            <p class="description">{{post.data.meta_description}}</p>
            <p class="link"><a href="{{ post.url }}">Read Now &raquo;</a></p>
        </li>
        {%- endfor -%}
    </ul>
</aside>
