---
layout: layout.njk
article: true
---

<main class="container">
    <div role="navigation">
        <ol id="breadcrumbs">
            <li><a href="/">Home</a></li>
            {% if parent %}
            <li><a href="{{parent.url}}">{{ parent.name }}</a></li>
            {% endif %}
            {% if parent2 %}
            <li><a href="{{parent2.url}}">{{ parent2.name }}</a></li>
            {% endif %}
            <li>{{ meta_title }}</li>
        </ol>    
    </div>
    
    <h1>{{ meta_title }}</h1>
    <p class="author">by <a href="/authors/{{ author | slugify }}/">{{ author }}</a></p>
    
    {{ content | safe }}

    <div class="author-box">
        {%- for a in authors -%}
            {%- if a.name == author -%}
                <h2>About the Author</h2>
                <h3>{{ a.name }}</h3>
                <img src="{{ a.photo }}" class="author-bio" alt="Photo of {{ a.name }}">
                <p>{{ a.bio }}</p>
            {%- endif -%}
        {%- endfor -%}
    </div>

</main>
