---
layout: layout.njk
article: true
---

<main class="container">
    <div role="navigation">
        <ol id="breadcrumbs">
            <li><a href="/">Home</a></li>
            {% if parent %}
            <li><a href="{{parent.url}}">{{ parent.name }}</a></li>
            {% endif %}
            {% if parent2 %}
            <li><a href="{{parent2.url}}">{{ parent2.name }}</a></li>
            {% endif %}
            <li>{{ meta_title }}</li>
        </ol>    
    </div>
    
    <h1>{{ meta_title }}</h1>
    <p class="author">by <a href="/authors/{{ author | slugify }}/">{{ author }}</a></p>
    
    {{ content | safe }}
</main>
