<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title }} | {{ siteName }}</title>
    <link rel="canonical" href="{{ siteUrl }}{{ page.url }}" />
    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="{{ author }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    {% if article == true %}
    <script type="application/ld+json">{% include "default-structured-data.njk" %}</script>
    {% endif %}
    {% set css %}
    {% include "styles.css" %}{% if article == true %}{% include "article.css" %}{% elif toc == true %}{% include "toc.css" %}{% endif %}
    {% endset %}
    <style>{{ css | safe }}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@700&display=swap"></noscript>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico" />
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-F676RNX958"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-F676RNX958');</script>
</head>
<body class="{{ body_class }}">
    <div class="navbar">
        <button class="navbar-toggle closed" title="Toggle navigation">
            <span class="navbar-open"></span>
            <span class="navbar-closed"></span>
        </button>
        <div class="mobileTitle">Kobold Think Tank</div>
        <a href="/" class="home-link" aria-label="Return to homepage"></a>
    </div>
    <nav class="navigation closed">
        <p class="navigation-title"><span class="navigation-icon"></span>Navigation</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/5e-character-creation/">5e Character Creation</a></li>
            <li><a href="/5e-build-guides/">5e Build Guides</a></li>
            <li><a href="/5e-homebrew/">5e Homebrew</a></li>
            <li><a href="/dnd-in-pop-culture/">DnD in Pop Culture</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <!-- HEADER COMPONENT -->
    <header>
        <div class="logo"><a href="/">Kobold Think Tank</a></div>
        <div class="tagline">Tabletop RPG advice for little dragons</div>
    </header>

    <!-- PAGE CONTENT -->
    {{ content | safe }}

    <!-- FOOTER COMPONENT-->
    <footer class="footer container">
        <p><address>Made with ♥ by <a rel="author" href="http://brandongregorycreative.com">Brandon Gregory</a>. Email us at <a href="mailto:koboldthinktank@gmail.com">koboldthinktank@gmail.com</a>.</address></p>
        <p>This page was last updated <time>{{ page.date.toDateString() }}</time>.</p>
        <p>Kobold Think Tank is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. &copy;Wizards of the Coast LLC.</p>
    </footer>
</body>
<script src="/js/custom.min.js" defer></script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="koboldthinktank" data-description="Support me on Buy me a coffee!" data-message="Like this? Buy me a coffee!" data-color="#FFCA28" data-position="Right" data-x_margin="18" data-y_margin="18" defer></script>
</html>