<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>
<body class="container {{ body_class }}">
    <div class="stripe"></div>
    <!-- HEADER COMPONENT -->
    <header class="header">

    </header>

    <!-- PAGE CONTENT -->
    <main class="container">
        {{ content | safe }}
    </main>

    <!-- FOOTER COMPONENT-->
    <footer class="footer">

    </footer>
</body>
<script>const page_name = "{{ page_name }}"</script>
</html>