<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title }} | Kobold Think Tank</title>
    <link rel="canonical" href="https://koboldthinktank.site{{ page.url }}" />
    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="Brandon Gregory">
    <style>{% include "inlinecss.html" %}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@700&display=swap"></noscript>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico" />
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-F676RNX958"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-F676RNX958');</script>
</head>
<body class="{{ body_class }}">
    <div class="navbar">
        <button class="navbar-toggle closed" title="Toggle navigation">
            <span class="navbar-open"></span>
            <span class="navbar-closed"></span>
        </button>
        <div class="mobileTitle">Kobold Think Tank</div>
        <a href="/" class="home-link" aria-label="Return to homepage"></a>
    </div>
    <nav class="navigation closed">
        <p class="navigation-title"><span class="navigation-icon"></span>Navigation</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/5e-character-creation/">5e Character Creation</a></li>
            <li><a href="/5e-build-guides/">5e Build Guides</a></li>
            <li><a href="/dnd-in-pop-culture/">DnD in Pop Culture</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <!-- HEADER COMPONENT -->
    <header>
        <div class="logo"><a href="/"><i class="fa-solid fa-dragon"></i> Kobold Think Tank</a></div>
        <div class="tagline">Tabletop RPG advice for little dragons</div>
    </header>

    <!-- PAGE CONTENT -->
    <main class="container">
        {{ content | safe }}
    </main>

    <!-- FOOTER COMPONENT-->
    <footer class="footer container">
        <p>All writing by <a href="http://brandongregorycreative.com">Brandon Gregory</a>.</p>
        <p>Kobold Think Tank is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. &copy;Wizards of the Coast LLC.</p>
    </footer>
</body>
<script>const page_name = "{{ page_name }}";</script>
<script src="/js/custom.min.js" defer></script>
</html>