/* COMMON STYLES */

* {
    box-sizing: border-box;
}

body {
    background: $red;
    position: relative;
}

body,
main {
    overflow-x: hidden;
}

main {
    color: $white;
    position: relative;
}

.container {
    width: calc(100% - 60px);
    margin-right: auto;
    margin-left: auto;
    max-width: 768px;

    &-full {
        width: 100%;
        max-width: none;
    }

    @include desktop {
        width: 100%;
    }
}

a {
    text-decoration: underline;
    color: inherit;
}
