$blue: #0D47A1;
$darkblue: #082A5E;
$gold: #FFCA28;
$red: #610;
$darkred: #510;

$white: #FFF;
$black: #000;

/* VIEW */
$minHeight: 700px;
$containerInnerWidth: 1270px;
$containerExtendedWidth: 1377px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopXl: 1200px;